*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
}

body{
    background-color: #e1e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: red;

}

.cardBase{
    background-image: linear-gradient(#f0f0f0bb, #fff);
    border-radius: 1.3em ;
    border: 1px solid #ffffff;
    width: 320px;
    height: 440px;
    box-shadow: 0em 1em 1em -0.5em #0000000e, 
    inset 0em 0em 1em -0.1em #ebebebbb;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
     
}

.numberLeft{
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    align-items: start;
    justify-content: center;
    padding: 0.5em 0em;
}

.mainContainer{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: center;
}
.numberRight{
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    align-items: start;
    justify-content: center;
    transform: rotateX(180deg);
    padding: 0.5em 0em;
}

.iconNumberContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS';
    font-weight: 900;
}

table, tr , td {
    font-size: 3rem;
    width: 100%;
    row-gap: 0.27em;
    column-gap: 0.27em;
    border-collapse:collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-down {
    transform: rotateX(180deg);
}


/* aca se ocultan o se muestra un determinado patron */
#A1{visibility: hidden;}
#A2{visibility: hidden;}
#A3{visibility: hidden;}

#B1{visibility: hidden;}
#B2{visibility: hidden;}
#B3{visibility: hidden;}

#C1{visibility: hidden;}
#C2{visibility: hidden;}
#C3{visibility: hidden;}
/* estos selectores definen el patron central */
#D1{visibility: hidden;}
#D2{visibility: hidden;}
#D3{visibility: hidden;}

